{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'registration_page' %}
{% block stylesheet %}
    <style>
        .ec-layoutRole__contents {
            height: 65vh;
        }
        .ec-layoutRole__main {
            margin-top: 150px;
        }
        .btn.btn-ec-regular {
            font-size: 14px;
        }
    </style>
{% endblock %}
{% block main %}
    <div class="ec-registerRole">
        <div class="ec-pageHeader">
            <h1>{{ '注文受付をお客様にご案内いたしました。'|trans }}</h1>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">

              <p style="margin-bottom: 20px">注文情報等の確認は、加盟店ログインよりご確認をお願いします。</p>
              
              <a class="btn btn-ec-regular" href="{{ url('store_login') }}">加盟店ログインはこちら</a>
            </div>
        </div>
    </div>
{% endblock %}
