{% extends 'default_frame.twig' %}

{% block main %}

    <!-- main part -->
    <main>
        <section class="banner">
            <div class="banner_img">
                <img src="http://bon-deli.com/html/user_data/assets/img/food_page_banner_pc.png" alt="" class="pc">
                <img src="http://bon-deli.com/html/user_data/assets/img/food_page_banner_sp.png" alt="" class="sp">
            </div>
        </section>

        <section class="driver-recruit">
            <div class="driver-recruit-header">
                <p>ドライバー募集</p>
            </div>
            <div class="driver-recruit-body">
                <p class="driver-recruit-explain">Bondeliではフード配達ドライバーを募集しています。<br>
                    レストラン自慢のフードをスマートに配達お願いします。</p>
                <div class="driver-recruit-content">
                    <div class="driver-recruit-content1">
                        <img src="http://bon-deli.com/html/user_data/assets/img/checkbox.svg" alt="">
                        <p>副業・Wワーク可能です。</p>
                    </div>
                    <div class="driver-recruit-content1">
                        <img src="http://bon-deli.com/html/user_data/assets/img/checkbox.svg" alt="">
                        <p>空いた時間に1配達からでもOKです。</p>
                    </div>
                    <div class="driver-recruit-content1">
                        <img src="http://bon-deli.com/html/user_data/assets/img/checkbox.svg" alt="">
                        <p>車両持ち込み・貸出どちらも選べます。</p>
                    </div>
                </div>
                <div class="driver-recruit-link">
                    <a href="https://jp.indeed.com/viewjob?jk=19407585c2e161e2">
                        <p>ドライバー募集要項はこちら</p>
                    </a>
                </div>
            </div>
        </section>

    </main>
    <!-- main part end -->

{% endblock %}