{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block main %}
    <main>
        <section class="banner">
            <div class="banner_img">
                <img src="http://bon-deli.com/html/user_data/assets/img/food_page_banner_pc.png" alt="" class="pc">
                <img src="http://bon-deli.com/html/user_data/assets/img/food_page_banner_sp.png" alt="" class="sp">
            </div>
        </section>

        <section class="terms">
            <h1>BonDeli利用規約</h1>
            <div class="preamble">
                <h2>前文</h2>
                <p>この利用規約（以下、「本規約」といいます。）は、株式会社シノワークス（以下，「当社」といいます。）がこのウェブサイト上で提供するデリバリーサービス「Bondeli」（以下、「本サービス」といいます。）の利用条件を定めるものです。登録ユーザーの皆さま（以下，「ユーザー」といいます。）には、本規約に従って、本サービスをご利用いただきます。</p>
            </div>
            
            <div class="definition">
                <h2>定義</h2>
                <p>1. 「加盟店」とは、本ウェブサイトにおいてユーザーに対し商品を提供する飲食店を意味します。</p>
                <p>2. 「商品」とは、ユーザーが本ウェブサイトを利用することで加盟店から購入可能な食品、飲料を意味します。</p>
                <p>3. 「登録申請者」とは、本サービスの利用のためにユーザー登録を希望する方を意味します。</p>
                <p>4. 「配達員」とは、当社との契約に基づき配達業務を行う業務委託ドライバーを意味します。 </p>
                <p>5. 「本ウェブサイト」とは、当社が本サービスのために提供するウェブサイトを意味します。</p>
                <p>6. 「本サービス」とは、当社が本ウェブサイト上で提供する、(i)ユーザーによるBondeli加盟店への商品の注文及び配送依頼のためのプラットフォームサービス、(ii)Bondeli加盟店による配達員を利用したユーザーへの商品の配送サービス、(iii)その他これに付随するサービスを意味します。</p>
                <p>7. 「ユーザー」とは、本規約を承諾のうえ、本規約により当社と本利用契約を締結し、本ウェブサイトを利用する全ての個人又は法人をいいます。</p>
            </div>
            <div class="clause">
                <h2>条項</h2>
                <div class="term1">
                    <h3>第1条 適用</h3>
                    <p>1. ユーザーは、本サービスの利用に際しては、本規約の全文をお読みいただいたうえで、本規約に同意いただく必要があります。本サービスを利用された場合は、本規約に従うことに同意したとみなします。</p>
                </div>
                <div class="term1">
                    <h3>第2条 本規約の変更</h3>
                    <p>1. 当社は、自己の裁量により、本規約の内容を事前の予告なしに変更できるものとします。</p>
                    <p>2. 当社は、本規約又は本サービスの内容を変更した場合には、ユーザーに該当の変更内容を本ウェブサイト上で公表するものとします。</p>
                    <p>3. 当該変更内容の公表後、ユーザーが本サービスを利用した場合又は当社の定める期間内に登録取消の手続をとらなかった場合には、ユーザーは、本規約又は本サービスの内容の変更に同意したものとみなします。</p>
                </div>
                <div class="term1">
                    <h3>第3条 個人情報</h3>
                    <p>1. 当社は、ユーザーが本ウェブサイトの利用にあたり提供した個人情報を、当社が別途定めるプライバシーポリシーに従い、適切に管理・保護いたします。但し、裁判所、警察等の公的機関から開示、情報提供を要求された場合及び法令に基づく請求を受けた場合は、ユーザーの承諾を得ずに、これに応じる場合があります。また、当社は、本サービス提供の向上のために、個人情報を利用できるものとします。</p>
                    <p>2. ユーザーは、ユーザーの個人情報が当社と契約する加盟店及び配達員に対して提供されることについて、あらかじめ同意するものとします。また、プライバシーポリシーが変更された場合は、変更後のプライバシーポリシーが適用されることに同意するものとします。</p>
                    <p>3. ユーザーは、当社による本サービスの提供に際し、当社が利用する決済サービスSquareによりすべての支払いが処理され、同社が取引に関連する個人情報を扱うことにあらかじめ同意するものとします。</p>
                </div>
                <div class="term1">
                    <h3>第4条 利用契約の締結</h3>
                    <p>1. 登録申請者は、本規約に同意の上、所定の手続きに従い、本サービスのユーザー登録を行うものとします。登録申請者が、本規約に同意し、ユーザー登録を行った時点をもって、当該登録申請者と当社との間で、本規約を内容とする本サービスの利用契約（以下「本利用契約」といいます。）が成立するものとします。</p>
                    <p>2. 登録申請者は、本サービスのユーザー登録申請にあたり、以下のいずれにも該当しないことを表明します。
                        <h4>(1) 反社会的勢力（暴力団、暴力団員、暴力団員でなくなった時から5年を経過しない者、暴力団準構成員、暴力団関係企業、総会屋等、社会運動等標ぼうゴロ、特殊知能暴力集団等又はこれらの者と密接な関わりを有する者若しくはこれらに準じる者をいいます。以下同様。）である<br>
                            (2) （法人の場合）その経営に反社会的勢力が実質的に関与している<br>
                            (3) 反社会的勢力に対して資金等を提供し又は便宜を供与するなどの行為に関与している<br>
                            (4) 反社会的勢力と社会的に非難されるべき関係を有している<br>
                        </h4>
                    </p>
                </div>
                <div class="term1">
                    <h3>第5条 ユーザーID又は登録メールアドレス・パスワードの管理</h3>
                    <p>1. ユーザーID又は登録メールアドレス、パスワードの利用により発生した全ての責任や債務は、ユーザーの責任及び費用負担によって解決するものとし、当社は一切責任を負いません。</p>
                    <p>2. ユーザーは、当社から付与されたアカウントが漏えいしないよう厳格に管理し、第三者にこれを使用させたり、開示してはならないものとします。</p>
                    <p>3. ユーザーID又は登録メールアドレス、パスワードの管理は、ユーザーの責任において行われるものとします。ユーザーID又は登録メールアドレス、パスワードが第三者によって使用され、ユーザーに不利益、損害が発生した場合にも、当社は一切その責任を負いません。 </p>
                    <p>4. 当社がユーザーに対して付与したアカウントを用いて当該ユーザー以外の第三者がアクセスした場合、当社は、当該アクセスを当該ユーザーによるアクセスとみなして取り扱います。</p>
                    <p>5. ユーザーID又は登録メールアドレス、パスワードの喪失、若しくは盗難の場合、ユーザーはただちに当社に報告するものとし、その報告があった場合又は当社がその事態に気づいた場合には、ユーザーID又は登録メールアドレス、パスワードの使用を中止することがあります。</p>
                    <p>6. 理由の如何を問わず、ユーザーのアカウント管理上又は使用上の過失その他に起因して、当社、加盟店、配達員その他第三者に損害を与えた場合、ユーザーはその損害を賠償するものとし、当社に一切迷惑をかけないものとします。</p>
                    <p>7. メールアドレスの登録は、ユーザーが自らの責任により行うものとし、メールアドレスの入力間違いにより、第三者にユーザー情報等が送信され、不正に利用された場合であっても、当社は一切その責任を負いません。また、メールアドレスの入力間違いにより、第三者に対して損害を与えた場合、ユーザーは自己の責任と費用負担によってその損害を処理・解決するものとし、当社は、かかる損害に対して如何なる責任も負いません。 </p>
                    <p>8. ユーザーは、当社が、本サービス以外で当社が提供するサービスにおいても、本サービスにおいて付与するアカウント（登録情報を含みます。）を共通で利用する場合があることに予め同意します。</p>
                </div>
                <div class="term1">
                    <h3>第6条 電子メールの送受信</h3>
                    <p>1. ユーザーは、当社にメールを送信する場合、事前に登録したメールアドレスを使用するものとします。 </p>
                    <p>2. ユーザーは、登録されているメールアドレスと異なるメールアドレスにて送受信を行い、第三者に不利益、損害が発生した場合、当社は一切その責任を負いません。</p>
                    <p>3. ユーザーは、当社がユーザーへ送信するメールのうち、サービスの追加・変更・停止等に関するお知らせ、ユーザー限定企画やユーザー向けサービスの評価を依頼する場合など、当社が特に重要度が高いと判断する「重要なお知らせ」に関しては、配信を停止することができないことを予め了承するものとします。 </p>
                    <p>4. 当社が加盟店からのお知らせやお得な情報をメールにて配信することを、ユーザーはあらかじめ同意するものとします。但し、ユーザーがメール内に記載の配信停止方法に従ってこのメールの配信停止を希望する場合、当社は可能な限り迅速に対応するものとします。 </p>
                </div>
                <div class="term1">
                    <h3>第7条 本サービスの内容</h3>
                    <p>1. 本サービスの内容は､本規約又は本サービスにおいて当社がユーザーに提供する旨を開示した範囲に限られ､当社はその範囲を超える行為を行う義務は一切負いません｡</p>
                    <p>2. ユーザーは、当社に対して、当社が本サービスを提供することに対する対価として手配料金を支払うものとします。当該手配料金の支払義務は、第9条に基づいてデリバリー商品に係る売買契約が成立した時点で発生するものとし、第12条各項の定めに従って支払うものとします。</p>
                    <p>3. ユーザーは､本サービスから第6条に基づき登録したメールアドレス宛に､メールマガジンその他広告又は宣伝を含むメールを回数及び時間等の制限なく継続的に送信されることにつき､あらかじめ承諾するものとします｡また､ユーザーがメールマガジン等を解除する場合は､当社所定の解除手続を行うものとします。 </p>
                    <p>4. 本サービスを利用するにあたり､必要な通信費は全てユーザーが負担するものとします｡</p>
                    <p>5. 当社は､理由の如何を問わず､事前に通知することなく､本サービスの全部又は一部を変更、追加又は廃止することができるものとします｡ただし､本サービスの全部を廃止する場合は､ユーザーに対しメール又は掲示により事前にその旨を通知します。当社はこれらの行為によってユーザーその他第三者に生じるいかなる損害及び障害等に関しても､一切の責任を負わないものとします。</p>
                </div>
                <div class="term1">
                    <h3>第8条 商品の注文</h3>
                    <p>1. ユーザーは、本サイトにおける注文フォームより、所定の情報を選択又は入力し、各出店者が提供する商品を注文することができます</p>
                    <p>2. 前項の規定にかかわらず、ユーザーは、以下の各号に該当する場合には、当社又は加盟店が注文受付を停止することができることに予め同意します。
                        <h4>(1) 営業日以外の注文<br>
                            (2) 注文の締切期限が過ぎている注文<br>
                            (3) 受付可能数を超過している注文<br>
                            (4) 商品に係る材料の在庫切れの場合<br>
                            (5) 天候、交通規制、天災地変その他の不可抗力により、配達員の手配が極めて困難であると当社が認める場合<br>
                            (6) その他、注文受付を停止することが妥当と当社が判断した場合                            
                        </h4>
                    </p>
                </div>
                <div class="term1">
                    <h3>第9条 商品に関する売買契約の成立</h3>
                    <p>1. 前条第1項の規定に基づき、商品の注文が行われた場合、出店者が、当該注文を出店者が承認することによって注文が確定する方式（以下「注文リクエスト方式」といいます。）を選択し登録しているときには、当該承認時においてデリバリー商品に関する売買契約が成立するものとします。</p>
                </div>
                <div class="term1">
                    <h3>第10条 注文のキャンセル</h3>
                    <p>1. ユーザーは、売買契約成立後であっても、出店者が出店ページ（出店者及び商品の情報の掲載等が行われているページをいいます。）において定めるユーザーによる注文に関する締切期限までは注文をキャンセルすることができます。当該期限経過後に自己都合にて注文をキャンセルする場合には、商品代金の返金が行われないことに予め同意します。</p>
                    <p>2. ユーザーは、売買契約成立後であっても、以下の各号に該当する場合には、当社、加盟店又は配達員によって当該デリバリー商品の注文がキャンセルされる可能性があることに同意します。以下の各号に基づいてデリバリー商品の注文がキャンセルされた場合、当社は、ユーザーに対して、当該デリバリー商品に係る商品代金全額を返金します。なお、この場合であっても、当社、加盟店、及び配達員は、ユーザーその他第三者に対して何ら賠償する責任を負いません。
                        <h4>(1) システムトラブルが発生し本サービスを提供することができないとき<br>
                            (2) ユーザーが指定したデリバリー商品の受取場所がデリバリー商品の受取場所として不適切であると判断できるとき<br>
                            (3) 天候、疫病、交通規制、天災地変その他の不可抗力により、配達員の手配が困難であると認めるとき<br>
                            (4) その他、デリバリー商品を提供することができないやむを得ない事情が発生したと合理的に判断できるとき                                                        
                        </h4>
                    </p>
                </div>
                <div class="term1">
                    <h3>第11条 デリバリー商品の受取り</h3>
                    <p>1. 第8条の規定に基づき、デリバリー商品の注文を行ったユーザーは、ユーザーが本サイト等を介して指定した場所及び配達予想時間帯において、当該注文に関して配達を委託された配達員からデリバリー商品を受け取るものとします。ユーザーは、配達員に対して、指定した場所以外への配達を要求することはできず、またデリバリー商品を受け取る目的から逸脱する行為、不当若しくは違法な行為を行い、又はこのような行為を要求してはならないものとします。 </p>
                    <p>2. 前項の規定にかかわらず、ユーザーは、ユーザーが指定する場所において配達員の当社車両を停車することが法令違反となる場合等、当該引渡場所においてデリバリー商品の引き渡しを行うことが適切でないと配達員が合理的に判断できる場合には、配達員が適切と合理的に判断した引渡場所及び引渡方法により、デリバリー商品を受け取ることに同意するものとします。</p>
                    <p>3. デリバリー商品の引渡は、本サイト等を通じて注文を行ったユーザーが、配達員からデリバリー商品を実際に受け取ったときに、完了するものとします。</p>
                    <p>4. 前項にかかわらず、ユーザーがデリバリー商品を受領しなかった場合又はユーザーが不在でデリバリー商品を受領できなかった場合であっても、配達員がデリバリー商品をユーザーの指定した場所及び本サイト等にて表示される当該デリバリー商品の配達予想時間に配達した場合には、引渡が完了したものとみなします。その場合、ユーザーは、配達員が当該デリバリー商品の破棄又は処分するとともに、当社から既に支払った商品購入代金の返金を受けられないことについて同意します。 </p>
                </div>
                <div class="term1">
                    <h3>第12条 加盟店に対する代金の支払い</h3>
                    <p>1. ユーザーは、デリバリー商品の商品代金、配達手配料（以下、あわせて「商品購入代金」といいます。）を、クレジットカード決済その他当社が認める決済方法により、加盟店から商品代金等の代理受領権限を与えられている当社（別途当社が指定又は任命する第三者がある場合は当該第三者を含みます。）に対して支払うものとします。</p>
                    <p>2. 前項の商品購入代金の支払手段及び方法の詳細は、本サイト等において別途定めるものとます｡当社は､商品購入代金の支払手段又は方法を変更することができるものとし､その変更の通知が本サイト等で公開された後、最初にユーザーが本サイトにアクセスした時点で、ユーザーは当該変更に同意したものとみなします。ユーザーは､このような支払手段及び方法の変更の有無並びに内容の通知を遅滞なく知るために､定期的に本サイト等にある支払手段及び方法の内容を確認することに同意します。</p>
                    <p>3. 第1項に基づき商品購入代金の支払いがなされた場合、当社は、当該商品購入代金のうち配達手配料を回収することができます。</p>
                </div>
                <div class="term1">
                    <h3>第13条 ユーザー登録の抹消（退会）</h3>
                    <p>1. ユーザーは、本ウェブサイト上に規定される所定の手続を経ることにより、任意で本利用契約を解除し、登録されたユーザー情報を抹消し、退会することができます。一度ユーザー情報を抹消すると、今までご利用いただいていたユーザーID、注文履歴も削除され、元に戻すことはできません。</p>
                    <p>2. 前項にかかわらず、退会前に行った注文に基づく代金決済及びデリバリー商品の受取りのほか、本契約に基づく未履行の債務がある場合等、合理的な理由による場合には、当社は、必要な範囲で本契約の終了を認めないことがあります。</p>
                    <p>3. 退会が完了すると、ユーザーは、登録情報その他本サービス上で記録された情報を閲覧することができなくなります。ただし、当社は、プライバシーポリシーに従って、ユーザーが退会した後でも、当該ユーザーの登録情報その他本サービス上で記録された情報を保持するものとし、ユーザーはこれに同意するものとします。</p>
                </div>
                <div class="term1">
                    <h3>第14条 禁止事項及びユーザー登録の抹消･利用停止</h3>
                    <p>1. ユーザーによる以下の行為は禁止いたします。また、該当する事実が発覚した場合、当社は何ら通知を行わず、本利用契約の解除を行い、ご注文のキャンセル、ユーザー登録の削除、今後の利用を停止できるものとします。その場合、今までご利用いただいていたユーザーID、注文履歴も削除され、元に戻すことはできません。なお、これによりユーザーが何らかの損害を被ったとしても当社は一切責任を負いません。
                        <h4>(1) ユーザー登録時及び本サービス利用時の虚偽情報の記載<br>
                            (2) 本規約に違反する行為<br>
                            (3) 不正な方法により商品を取得しようとする行為<br>
                            (4) スパム・メールや誹謗･中傷メールの配信、他社掲示板への書込みなど、当社、他のユーザー、若しくは第三者を不快にし、又はこれらに対して不利益をもたらすような行為<br>
                            (5) システムへの侵入行為（ハッキング）、その他本ウェブサイトに対する攻撃行為等、本ウェブサイトの運営を妨害する行為<br>
                            (6) ユーザー資格の営利目的での不正使用<br>
                            (7) 公序良俗に反する行為又はそれを助長する行為<br>
                            (8) 法令、条例等に違反する行為又はそれを助長する行為<br>
                            (9) 当社の記事、企画、投稿内容その他の無断転載･再配布<br>
                            (10) 他のユーザーのメールアドレス又はユーザーID、パスワードの不正使用<br>
                            (11) 加盟店又は当社の営業を妨害する行為その他の迷惑行為<br>
                            (12) 登録いただいたメールアドレス又は電話番号が不通又は無効になっている場合<br>
                            (14) その他、当社が必要と判断した場合                                                                                    
                        </h4>
                    </p>
                </div>
                <div class="term1">
                    <h3>第15条 損害･損失処理の責任</h3>
                    <p>1. ユーザーが本ウェブサイトの利用により第三者に対して損害を与えた場合、ユーザーは自己の責任と費用負担によってその損害を処理･解決するものとし、当社は、かかる損害に対して如何なる責任も負いません。</p>
                    <p>2. ユーザーが本規約に違反した行為又は不正若しくは違法な行為により当社及び他のユーザーに損害を与えた場合、当社は、当該ユーザーに対して損害賠償請求を行う権利を有します。</p>
                </div>
                <div class="term1">
                    <h3>第16条 入手情報の使用</h3>
                    <p>1. ユーザーは、当社が事前に承認した場合を除き、本ウェブサイトを通じて入手した如何なる情報についても、ユーザー個人としての私的使用以外の目的に使用しないものとします。</p>
                </div>
                <div class="term1">
                    <h3>第17条 知的財産権</h3>
                    <p>1. 本ウェブサイトに含まれる又は本ウェブサイトで提供されるコンテンツは、当社又は当社のライセンサーに帰属し、著作権により保護されています。他の法人又は個人により提供されたコンテンツは、それぞれ当該他の法人又は個人に帰属します。本ウェブサイトに含まれる又は本ウェブサイトで提供されるコンテンツの編集物は、当社に専属的に帰属し、著作権法により保護されます。ユーザーは、事前に当社の許可を得ることなく、本ウェブサイトから情報又はコンテンツを複製、再発行、再配布、又は商業的な利用・実施を行うことはできないものとします。</p>
                    <p>2. “Bondeli”とBondeliのロゴは当社の商標です。また、本ウェブサイトに含まれる又は本ウェブサイトで提供される画像、ロゴ、アイコン及びサービス名は、当社の商標、サービスマーク又はトレードドレスです。当社の商標、サービスマーク及びトレードドレスを、当社が許諾していない商品又はサービスに関連して、混同を招くおそれのある態様又は当社を誹謗する態様で使用してはならないものとします。本ウェブサイトで提供される当社のものではない商標は、それぞれその商標権者に帰属します。ユーザーによる本ウェブサイトの利用において、本ウェブサイトに関する一切の権利、及び、当社、当社のライセンサー、権利を保有する他の法人又は個人の名称、ロゴ、製品名、サービス名、商標、サービスマーク若しくはトレードドレスを使用し又は参照する権利を、ユーザーに対して移転し又は付与するものではありません。</p>
                </div>
                <div class="term1">
                    <h3>第18条 ウェブサイトの内容の変更</h3>
                    <p>1. 当社は、ユーザーの承認を受けることなく、本ウェブサイト及び本サービスの内容を変更、中止する場合があります。</p>
                    <p>2. このような事態に伴い、ユーザーに不利益、損害が発生した場合でも、当社はその責任を一切負いません。 </p>
                </div>
                <div class="term1">
                    <h3>第19条 サービスの中断、停止</h3>
                    <p>1. 当社では以下に該当する場合、ユーザーの承諾なしに本サービスの一部、若しくはすべてを一時中断、又は停止する場合があります。
                        <h4>(1) 本ウェブサイト又はネットワークのシステム保守若しくは更新の場合<br>
                            (2) 本サービスの提供に必要なプラットフォーム、クラウドコンピューティングサービス、又は第三者のサービスプロバイダーが提供するその他関連サービスに不具合が生じた場合<br>
                            (3) 火災、停電、天災などの不可抗力により、本サービスの提供が困難な場合<br>
                            (4) その他、当社が本サービスの停止又は中断が必要と判断した場合<br>                                                                                  
                        </h4>
                    </p>
                </div>
                <div class="term1">
                    <h3>第20条 本規約の譲渡</h3>
                    <p>1. 当社は、本サービスにかかる事業を第三者に譲渡した場合には、当該事業譲渡に伴い、本規約に基づく権利若しくは義務につき、第三者に対し、譲渡、移転、担保設定、その他の本規約に基づく権利及び義務並びにユーザーの登録事項その他の顧客情報を当該事業譲渡の譲受人に譲渡することができるものとし、ユーザーは、かかる譲渡につき本条において予め同意したものとします。なお、本条に定める事業譲渡には、通常の事業譲渡のみならず会社分割その他事業が移転するあらゆる場合を含むものとします。</p>
                </div>
                <div class="term1">
                    <h3>第21条 免責事項</h3>
                    <p>1. 当社は、本ウェブサイト、本サービス及び商品が(i)ユーザーの特定の目的に適合すること、(ii)期待する機能・価値・正確性・有用性を有すること、及び(iii)不具合が生じないことについて何ら保証するものではありません。</p>
                    <p>2. 当社がユーザーに対して通知義務を負う場合は、ユーザーがあらかじめ登録した電話番号又はメールアドレスへ通知を発信することにより、その義務を果たしたものとします。ユーザーは、登録メールアドレスへのメール送信は、理由の如何を問わず、送信失敗、遅延、未着が発生する場合がある旨を予め了承するものとし、当社は、これにより発生した一切の損害について、如何なる責任も負わないものとします。</p>
                    <p>3. 当社は、ユーザーが本サービスをご利用になれなかったことにより発生した一切の損害について、如何なる責任も負わないものとします。 </p>
                    <p>4. 加盟店がユーザーに対し、本サービスを受け付けた旨告知した後、加盟店又は当社の都合で本サービスを承れない事由が発生した場合、加盟店又は当社よりユーザーへ当該サービスのキャンセルを通知する場合があります。</p>
                    <p>5. 本サービスの利用に関連して生じるユーザーと加盟店又は第三者との間の連絡、取引又は紛争について、当社は何ら責任を負いません。</p>
                    <p>6. 本サービスの利用に際して、商品の内容、注文又は提供（但し、配達を除きます。）に関してトラブルが発生した場合は、加盟店とユーザーとの間で協議、解決するものとし、当社は何ら責任を負いません。</p>
                    <p>7. 本サービスの利用に際して、商品の配達に関してトラブルが発生した場合は、当社とユーザーとの間で協議、解決するものとし、加盟店は何ら責任を負いません。 </p>
                    <p>8. 当社は、当社による本サービスの提供の中断、停止、利用不能又は変更、ユーザーのメッセージ又は情報の削除又は消失、ユーザーのユーザー登録の取消、ご注文のキャンセル、本サービスの利用によるデータの消失又は機器の故障若しくは損傷、その他本サービスに関連してユーザーが被った損害につき、賠償する責任を一切負わないものとします。</p>
                    <p>9. 本ウェブサイトから他のサイトへのリンク又は他のサイトから本ウェブサイトへのリンクが提供されている場合でも、当社は、本ウェブサイト以外のサイト及びそこから得られる情報に関して如何なる理由に基づいても一切の責任を負わないものとします。</p>
                    <p>10. コンピューター・ウィルス(例えばマルウェア、ランサムウェア等)その他の有害なコンピューター･プログラムを含む電子情報の送受信が行われたことに基づくユーザーの損害については、当社は一切の責任を負わないものとします。</p>
                    <p>11. アレルギー情報・カロリー情報・商品説明など、本サービスにおいて加盟店により提供される各種掲載情報につきまして、当社はその正確性、正当性、有用性など如何なる保証もいたしません。 </p>
                    <p>12. ユーザーは、本サービス内において表示される当社又は加盟店からの指示、注意文その他案内文を遵守するものとします。ユーザーがこれに従わなかったことによって直接又は間接に何らかの損害、又は費用負担が生じた場合であっても、当社は何ら責任を負いません。</p>
                    <p>13. 当社が何らかの理由により本サービスに関してユーザーに対して損害賠償責任を負うべき場合でも、当社に故意又は重過失がある場合を除き、当社の責任は直接かつ現実に生じた通常の損害に限るものとし、ユーザーの逸失利益等の間接損害については、損害賠償責任を負わないものとします。</p>
                </div>
                <div class="term1">
                    <h3>第22条 準拠法及び管轄裁判所</h3>
                    <p>1. 本規約の準拠法は日本法とし、本規約に起因し又は関連する一切の紛争については、東京地方裁判所を第一審の専属的合意管轄裁判所とします。</p>
                </div>
                <div class="term1">
                    <h3>第23条 本サービス運営の外部委託</h3>
                    <p>1. 当社は、自らの裁量により、本サービスの運営に関する業務の全部又は一部を第三者に委託することができます。疑義を避けるため付言すると、本サービスとは第2条第6号に規定するプラットフォームサービスであり、デリバリー商品の配達に関連する業務の委託を含むものではありません。</p>
                </div>
                <div class="term1">
                    <h3>第24条 本サービスの廃止</h3>
                    <p>1. 当社は、当社の都合によりいつでも本サービスを廃止できるものとします。</p>
                </div>
            </div>
        </section>
    </main>
{% endblock %}