{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block main %}
    <main>
        <section class="banner">
            <div class="banner_img">
                <img src="http://bon-deli.com/html/user_data/assets/img/food_page_banner_pc.png" alt="" class="pc">
                <img src="http://bon-deli.com/html/user_data/assets/img/food_page_banner_sp.png" alt="" class="sp">
            </div>
        </section>

        <section class="how-to">
            <div class="how-to-header">
                <p>ご利用の流れ</p>
            </div>
            <div class="how-to1">
                <img src="http://bon-deli.com/html/user_data/assets/img/how-to1111.jpg" alt="">
                <p class="how-to-title">サイトで注文</p>
                <p class="how-to-content">Bondeliは味に自信のあるお店のみ掲載しております。<br>
                    お好きなお店を選んでご注文ください。</p>
            </div>
            <div class="how-to2">
                <img src="http://bon-deli.com/html/user_data/assets/img/how-to22.jpg" alt="">
                <p class="how-to-title">自動車で配達</p>
                <p class="how-to-content">自動車ドライバーが丁寧にお届けします。<br>
                    (お料理は座席またはトランクに乗せて運びます)</p>
            </div>
            <div class="how-to3">
                <img src="http://bon-deli.com/html/user_data/assets/img/how-to3.JPEG" alt="">
                <p class="how-to-title">受け渡し</p>
                <p class="how-to-content">通常玄関までドライバーがお料理お持ちします。<br>
                    (その他受け渡し方法ご希望の方は、備考欄にてお知らせください。)</p>
            </div>
        </section>
        
                <section class="d-map-part">
            <div class="deliverable-map">
                <p class="d-map-title">配達可能エリア</p>
                <div class="d-map-img">
                    <img src="http://bon-deli.com/html/user_data/assets/img/Group 1.png" alt="">
                </div>
            </div>
        </section>
    </main>
    <!-- main part end -->
{% endblock %}