{% extends 'default_frame.twig' %}

{% block main %}

    <!-- main part -->
    <main>
        <section class="banner">
            <div class="banner_img">
                <img src="http://bon-deli.com/html/user_data/assets/img/food_page_banner_pc.png" alt="" class="pc">
                <img src="http://bon-deli.com/html/user_data/assets/img/food_page_banner_sp.png" alt="" class="sp">
            </div>
        </section>

        <section class="food_introduction">
            <div class="food_name">
                <h1>料理名料理名</h1>
            </div>
            <div class="swiper mySwiper2">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <img src="http://bon-deli.com/html/user_data/assets/img/food1.png" />
                  </div>
                  <div class="swiper-slide">
                    <img src="http://bon-deli.com/html/user_data/assets/img/food1.png" />
                  </div>
                  <div class="swiper-slide">
                    <img src="http://bon-deli.com/html/user_data/assets/img/food1.png" />
                  </div>
                  <div class="swiper-slide">
                    <img src="http://bon-deli.com/html/user_data/assets/img/food1.png" />
                  </div>
                </div>
                <div class="swiper-button-box">
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>

            <div class="service-information">
                <img src="http://bon-deli.com/html/user_data/assets/img/money.svg" alt="">
                <div><span>¥3,780</span></div>
                <img src="http://bon-deli.com/html/user_data/assets/img/restaurant-fine.svg" alt="">
                <div><span>1人前</span></div>
                <img src="http://bon-deli.com/html/user_data/assets/img/time-restore.svg" alt="">
                <div><span>3日前17:00までに注文</span></div>
            </div>

            <div class="cart-button">
                <a href="">
                    <div class="add-cart">
                        <img src="http://bon-deli.com/html/user_data/assets/img/shopping-cart-plus.svg" alt="">
                        <div><span>買い物かごに入れる</span></div>                       
                    </div>
                </a>
                <a href="">
                    <div class="wish-cart">
                        <img src="http://bon-deli.com/html/user_data/assets/img/heart.svg" alt="">
                        <div><span>Add to Wish List</span></div>
                    </div>
                </a>
            </div>
        </section>

        <section class="food_content_part">
            <div class="food_content">
                <div class="food_part_header">
                    <h1>おすすめポイント</h1>
                </div>
                <div class="food_content_body">
                    <h6>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                        テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                        テキストテキストテキストテキストテキストテキストテキスト</h6>
                </div>
            </div>
            <div class="food_content">
                <div class="food_part_header">
                    <h1>お届け内容</h1>
                </div>
                <div class="food_content_body">
                    <h6>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                        テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                        テキストテキストテキストテキストテキストテキストテキスト</h6>
                </div>
            </div>

            <div class="recommend_food_part">
                <div class="food_part_header">
                    <h1>関連する料理</h1>
                </div>
                <div class="recommend_food_slider">
                    <div class="swiper mySwiper3">
                        <div class="swiper-wrapper">
                          <div class="swiper-slide">
                            <img src="http://bon-deli.com/html/user_data/assets/img/food1.png" />
                          </div>
                          <div class="swiper-slide">
                            <img src="http://bon-deli.com/html/user_data/assets/img/food-list1.png" />
                          </div>
                          <div class="swiper-slide">
                            <img src="http://bon-deli.com/html/user_data/assets/img/food-list2.png" />
                          </div>
                          <div class="swiper-slide">
                            <img src="http://bon-deli.com/html/user_data/assets/img/food-list3.png" />
                          </div>
                        </div>
                        <div class="swiper-button-box">
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>
                    </div>
                </div>
            </div>
            
        </section>


    </main>
    <!-- main part end -->

{% endblock %}