{% extends 'default_frame.twig' %}

{% block main %}
    <!-- main part -->
    <main>
        <section class="banner">
            <div class="banner_img">
                <img src="http://bon-deli.com/html/user_data/assets/img/store_banner_pc.png" alt="" class="pc">
                <img src="http://bon-deli.com/html/user_data/assets/img/store_banner_sp.png" alt="" class="sp">

            </div>
            <div class="banner_text">
                <h1>あいうえお</h1>
            </div>
        </section>

        <section class="store_information">
            <div class="main-container">
                <div class="store_name">
                    <h1>店名店名店名店名</h1>
                </div>
                <div class="store_data">
                    <div class="store_text">
                        <div>
                            <h1>住所</h1>
                            <h2>東京都中央区銀座7-3-8 HULIC &New GINZA7 6F</h2>
                        </div>
                        <div>
                            <h1>注文受付時間</h1>
                            <h2>11:30 ～ 14:00（13:30）<br>
                                17:30 ～ 23:00（21:00）</h2>
                        </div>
                        <div class="store_tt">
                            <span>割烹・小料理</span>
                        </div>
                    </div>
                    <div class="store_img pc">
                        <img src="http://bon-deli.com/html/user_data/assets/img/list2.png" alt="">
                    </div>
                </div>
            </div>
        </section>

        <section class="dish">
            <div class="main-container">
                <div class="dish_category">
                    <ul>
                        <li class="border-right">
                            <a href="">前菜</a>
                        </li>
                        <li class="border-right">
                            <a href="">主菜</a>
                        </li>
                        <li class="border-right">
                            <a href="">ドリンク</a>
                        </li>
                        <li>
                            <a href="">デザート</a>
                        </li>
                    </ul>
                </div>
                <div class="dish_body">
                    <div class="dish_body1">
                        <div class="dish_body_one">
                            <img src="http://bon-deli.com/html/user_data/assets/img/list1.png" alt="">
                            <div class="dish_explain">
                                <h1>[極上]料理名</h1>
                                <h2>5,500円(税込)</h2>
                            </div>
                        </div>
                        <div class="dish_body_one">
                            <img src="http://bon-deli.com/html/user_data/assets/img/list2.png" alt="">
                            <div class="dish_explain">
                                <h1>[極上]料理名</h1>
                                <h2>5,500円(税込)</h2>
                            </div>
                        </div>
                        <div class="dish_body_one">
                            <img src="http://bon-deli.com/html/user_data/assets/img/list3.png" alt="">
                            <div class="dish_explain">
                                <h1>[極上]料理名</h1>
                                <h2>5,500円(税込)</h2>
                            </div>
                        </div>
                    </div>
                    <div class="dish_body1">
                        <div class="dish_body_one">
                            <img src="http://bon-deli.com/html/user_data/assets/img/list4.png" alt="">
                            <div class="dish_explain">
                                <h1>[極上]料理名</h1>
                                <h2>5,500円(税込)</h2>
                            </div>
                        </div>
                        <div class="dish_body_one">
                            <img src="http://bon-deli.com/html/user_data/assets/img/list5.png" alt="">
                            <div class="dish_explain">
                                <h1>[極上]料理名</h1>
                                <h2>5,500円(税込)</h2>
                            </div>
                        </div>
                        <div class="dish_body_one">
                            <img src="http://bon-deli.com/html/user_data/assets/img/list6.png" alt="">
                            <div class="dish_explain">
                                <h1>[極上]料理名</h1>
                                <h2>5,500円(税込)</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="store_description">
            <div class="main-container">
                <div class="store_descriptions">
                    <div class="description_header">
                        <h1>店舗の説明</h1>
                    </div>
                    <div class="description_body">
                        <div class="description_body_one">
                            <div class="description_title">
                                <h1>店名</h1>
                            </div>
                            <div class="description_content">
                                <h1>店名店名店名</h1>
                            </div>
                        </div>
                        <div class="description_body_one">
                            <div class="description_title">
                                <h1>料理ジャンル</h1>
                            </div>
                            <div class="description_content">
                                <h1>テキストテキストテキストテキストテキストテキスト</h1>
                            </div>
                        </div>
                        <div class="description_body_one">
                            <div class="description_title">
                                <h1>住所</h1>
                            </div>
                            <div class="description_content">
                                <h1>東京都中央区銀座7-3-8 HULIC &New GINZA7 6F</h1>
                            </div>
                        </div>
                        <div class="description_body_one">
                            <div class="description_title">
                                <h1>プロフィール</h1>
                            </div>
                            <div class="description_content">
                                <h1>テキストテキストテキストテキストテキストテキスト
                                    テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                                    テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                                    テキストテキストテキストテキストテキストテキスト</h1>
                            </div>
                        </div>
                        <div class="description_body_one">
                            <div class="description_title">
                                <h1>注文受付時間</h1>
                            </div>
                            <div class="description_content">
                                <h1>11:30 ～ 14:00（13:30）<br>
                                    17:30 ～ 23:00（21:00）</h1>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>

    </main>
    <!-- main part end -->

{% endblock %}